.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #0d1b7e;
  height: 60px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
  margin-right: 10px;
}

.logo span {
  font-size: 24px;
  font-weight: bold;
  color: #93ffea;
}

ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

li {
  margin: 0 15px;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  padding: 8px 16px;
  border-radius: 10px;
  transition: background 0.3s;
}

a.active {
  background-color: #1b31c7;
}

a:hover {
  background-color: #2d45f5;
}

.auth-buttons {
  display: flex;
}

.auth-buttons a {
  margin-left: 10px;
  background-color: #2d45f5;
}

.auth-buttons a:hover {
  background-color: #1b31c7;
}

.menu-toggle {
  display: none;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
    cursor: pointer;
    font-size: 24px;
  }

  ul {
    display: none;
    flex-direction: column;
    align-items: flex-start;
  }

  ul.open {
    display: flex;
  }

  .auth-buttons {
    display: none;
  }
}
