.header{
    border: 40px;
display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
  /* background: rgb(136, 141, 138); */
  height: 100vh;
}